.container {
    padding: 0 20px;
    background-color: #13242f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.container h2 {
    color: white;
    font-weight: 400;

}

.container h2 span {
    font-weight: bold;
    color: #ffba08;
}

.container .links span {
    color: white;
    text-decoration: none;
}

.container .links span:hover {
    border-bottom: solid #faa307;
    cursor: pointer;
}

.container input {
    border-radius: 5px;
    padding: 5px 70px 5px 30px;
    margin-right: 10px;
    margin-left: 10px;
    border: none;
    outline: none;
}

.container input:focus {
    border: 3px solid #faa307;
    padding: 5px 90px 5px 10px;
}

.container input:focus::placeholder {
    color: transparent
}

.container button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #ffba08;
    color: white;
}

.container button:hover {
    cursor: pointer;
    background-color: #faa307;
}

.container .links a{
    margin: 0 5px;
}

.active {
    border-bottom: 3px solid #faa307;
}